html, body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
}

nav {
	overflow-y: scroll;
	background-color: #f7f7f7;
}

nav h2 {
	margin-left:15px;
}

nav a.list-group-item {
	border-radius: 0!important;
}

.sqn-menu {
	position: fixed;
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	right: -240px;
}

.sqn-menu a {
	display: block;
}

.sqn-menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.sqn-menu-push-open {
	overflow-x: hidden;
	position: relative;
	left: -240px;
}

.sqn-menu-toggle-open {
	transform:rotate(-90deg);
}

.sqn-menu-open {
	right:0;
}

.sqn-menu, .sqn-menu-push, .sqn-menu-toggle {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header {
	text-align:center;
	position:relative;
}

.header-content {
	height:100%;
	position:relative;
}

.header-icon {
	position:absolute;
	top:30px;
	left:30px;
}

.header-icon img {
	width:75px;
	height:75px;
}

.menu-icon {
	position:absolute;
	top:50px;
	right:30px;
	color:#fff;
	font-size: 30px;
	cursor: pointer;
}

.homepage-feature-title {
	position:absolute;
	top:25%;
	width:100%;
}

header h1 {
	color: #fff;
	position:relative;
	bottom:10px;
}

header.header-slim {
	height:100px;
	background-color: #334466;
}

header.header-slim .header-icon {
	top:12px;
}

header.header-slim .menu-icon {
	top:32px;
}

.image-bg-fluid-height {
	background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)),url('/assets/img/squadron_header_large.jpg') no-repeat center center;
}

.image-bg-fixed-height {
	background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)),url('/assets/img/squadron_header_cropped.jpg') no-repeat center center;
    height: 450px;
}

@media screen and (max-width: 900px) {
    header.image-bg-fluid-height {
	    height: 300px;
    }
    header.large h1 {
	    font-size:6em;
	}
}

@media screen and (max-width: 750px) {
    header.image-bg-fluid-height {
	    height: 400px;
    }
    header.large h1 {
	    font-size:5em;
	}
}

@media screen and (max-width: 600px) {
    header.image-bg-fluid-height {
	    height: 500px;
    }
    header.large h1 {
	    font-size:4em;
	}
	header.header-slim {
		height:80px;
		background-color: #334466;
	}
	
	header.header-slim .header-icon {
		left:12px;
		top:12px;
	}
	
	header.header-slim .header-icon img {
		height:55px;
		width:55px;
	}
	
	header.header-slim .menu-icon {
		top:22px;
		right:22px;
	}
}

@media screen and (max-width: 400px) {
    header.image-bg-fluid-height {
	    height: 100%;
    }
    header.image-bg-fluid-height h1 {
	    font-size:3em;
	}
	.homepage-feature-title {
		top:inherit;
		bottom:0;
	}
	.image-bg-fluid-height {
		background-size: cover;
	}
}

@media screen and (min-width: 900px) {
    header.image-bg-fluid-height {
	    height: 400px;
    }
    header.image-bg-fluid-height h1 {
	    font-size:6em;
	}
}

@media screen and (min-width: 1900px) {
   	.image-bg-fluid-height {
		background-size: cover;
	}
	.image-bg-fixed-height {
		background-size: cover;
	}
}

pre {
	background-color: #f9f2f4 !important;
}

code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e !important;
background-color: #f9f2f4 !important;
border-radius: 4px;
}